name: create-deploy-pull-request

on:
  pull_request:
    paths:
      - create-deploy-pull-request/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/create-deploy-pull-request.yaml
  push:
    branches:
      - main
    paths:
      - create-deploy-pull-request/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/create-deploy-pull-request.yaml

defaults:
  run:
    working-directory: create-deploy-pull-request

jobs:
  autofix:
    uses: ./.github/workflows/autofix.yaml
    with:
      working-directory: create-deploy-pull-request

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build
      - uses: ./create-deploy-pull-request
        with:
          head-branch: main
          base-branch: create-deploy-pull-request--e2e-test--${{ github.run_number }}
          title: E2E test of create-deploy-pull-request
          body: E2E test of create-deploy-pull-request
      - if: always()
        run: git push origin --delete 'refs/heads/create-deploy-pull-request--e2e-test--${{ github.run_number }}'
        continue-on-error: true
