name: environment-matrix

on:
  push:
    branches:
      - main
    paths:
      - environment-matrix/**
      - '*.json'
      - .github/workflows/environment-matrix.yaml
  pull_request:
    paths:
      - environment-matrix/**
      - '*.json'
      - .github/workflows/environment-matrix.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: environment-matrix
    outputs:
      environments: ${{ steps.environment-matrix.outputs.json }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package
      - uses: ./environment-matrix
        id: environment-matrix
        with:
          rules: |
            - pull_request:
                base: '**'
                head: '**'
              environments:
                - overlay: pr
                  namespace: pr-${{ github.event.pull_request.number }}
            - push:
                ref: refs/heads/main
              environments:
                - overlay: development
                  namespace: development

  test-matrix:
    needs:
      - ts
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      fail-fast: true
      matrix:
        environment: ${{ fromJSON(needs.ts.outputs.environments) }}
    steps:
      - run: echo 'overlay=${{ matrix.environment.overlay }}'
      - run: echo 'namespace=${{ matrix.environment.namespace }}'
