name: environment-matrix

on:
  pull_request:
    paths:
      - environment-matrix/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/environment-matrix.yaml
  push:
    branches:
      - main
    paths:
      - environment-matrix/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/environment-matrix.yaml

defaults:
  run:
    working-directory: environment-matrix

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check
      - uses: int128/update-generated-files-action@3d23e5bef5a471517ce6a7d07c32e7cff7903e0d # v2.75.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      environments: ${{ steps.environment-matrix.outputs.json }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build
      - uses: ./environment-matrix
        id: environment-matrix
        with:
          rules: |
            - pull_request:
                base: '**'
                head: '**'
              environments:
                - github-deployment:
                    environment: pr-${{ github.event.pull_request.number }}/example
                  outputs:
                    overlay: pr
                    namespace: pr-${{ github.event.pull_request.number }}
            - push:
                ref: refs/heads/main
              environments:
                - outputs:
                    overlay: development
                    namespace: development

  e2e-test-matrix:
    needs: e2e-test
    runs-on: ubuntu-latest
    timeout-minutes: 3
    defaults:
      run:
        working-directory: . # run without actions/checkout
    strategy:
      fail-fast: true
      matrix:
        environment: ${{ fromJSON(needs.e2e-test.outputs.environments) }}
    steps:
      - run: echo 'overlay=${{ matrix.environment.overlay }}'
      - run: echo 'namespace=${{ matrix.environment.namespace }}'
      - run: echo 'github-deployment-url=${{ matrix.environment.github-deployment-url }}'
