name: environment-matrix

on:
  pull_request:
    paths:
      - environment-matrix/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/environment-matrix.yaml
  push:
    branches:
      - main
    paths:
      - environment-matrix/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/environment-matrix.yaml

defaults:
  run:
    working-directory: environment-matrix

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      environments: ${{ steps.environment-matrix.outputs.json }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build
      - uses: ./environment-matrix
        id: environment-matrix
        with:
          rules: |
            - pull_request:
                base: '**'
                head: '**'
              environments:
                - github-deployment:
                    environment: pr-${{ github.event.pull_request.number }}/example
                    task: e2e-test
                  outputs:
                    overlay: pr
                    namespace: pr-${{ github.event.pull_request.number }}
            - push:
                ref: refs/heads/main
              environments:
                - outputs:
                    overlay: development
                    namespace: development

  e2e-test-matrix:
    needs: e2e-test
    runs-on: ubuntu-latest
    timeout-minutes: 3
    defaults:
      run:
        working-directory: . # run without actions/checkout
    strategy:
      fail-fast: true
      matrix:
        environment: ${{ fromJSON(needs.e2e-test.outputs.environments) }}
    steps:
      - run: echo 'overlay=${{ matrix.environment.overlay }}'
      - run: echo 'namespace=${{ matrix.environment.namespace }}'
      - run: echo 'github-deployment-url=${{ matrix.environment.github-deployment-url }}'
