name: get-service-versions

on:
  pull_request:
    paths:
      - get-service-versions/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/get-service-versions.yaml
  push:
    branches:
      - main
    paths:
      - get-service-versions/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/get-service-versions.yaml

defaults:
  run:
    working-directory: get-service-versions

jobs:
  autofix:
    uses: ./.github/workflows/autofix.yaml
    with:
      working-directory: get-service-versions

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.19.5
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.19.5
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - run: |
          git config --global user.email 'github-actions@github.com'
          git config --global user.name 'github-actions'

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }} # avoid "shallow update not allowed" error
          path: overlay-branch
      - name: Set up an overlay branch
        working-directory: overlay-branch
        run: |
          cp -av "$GITHUB_WORKSPACE/get-service-versions/tests/fixtures/." .
          git add .
          git commit -m "Add overlay branch for e2e-test of ${GITHUB_REF}"
          git push origin "HEAD:refs/heads/ns/monorepo-deploy-actions/overlay-${{ github.run_id }}/pr-${{ github.event.number }}"

      - uses: ./get-service-versions
        id: get-service-versions
        with:
          overlay: overlay-${{ github.run_id }}
          namespace: pr-${{ github.event.number }}
          destination-repository: ${{ github.repository }}

      - name: Check the service versions
        run: |
          set -x

          echo '${{ steps.get-service-versions.outputs.application-versions }}' > service_versions.json
          cat service_versions.json | jq "."

          # assertion
          [ "$(cat service_versions.json | jq -r '.[0].service')" = "a" ]
          [ "$(cat service_versions.json | jq -r '.[0].action')" = "git-push-service" ]
          [ "$(cat service_versions.json | jq -r '.[0].headRef')" = "main" ]
          [ "$(cat service_versions.json | jq -r '.[0].headSha')" = "main-branch-sha" ]
      - name: Clean up the overlay branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete "refs/heads/ns/monorepo-deploy-actions/overlay-${{ github.run_id }}/pr-${{ github.event.number }}"
