name: git-push-services-patch

on:
  pull_request:
    paths:
      - git-push-services-patch/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/git-push-services-patch.yaml
  push:
    branches:
      - main
    paths:
      - git-push-services-patch/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/git-push-services-patch.yaml

defaults:
  run:
    working-directory: git-push-services-patch

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check
      - uses: int128/update-generated-files-action@21a93b7745379d3affb27cb6beb5f68d6cb8fd0d # v2.76.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }} # avoid "shallow update not allowed" error
          path: e2e-test-fixture
      - name: Set up a fixture branch
        working-directory: e2e-test-fixture
        run: |
          mkdir -vp services/a
          date > services/a/generated.yaml
          git add .
          git config user.email 'github-actions@github.com'
          git config user.name 'github-actions'
          git commit -m "e2e-test-fixture for ${GITHUB_REF}"
          git push origin "HEAD:refs/heads/ns/monorepo-deploy-actions/e2e-git-push-services-patch/ns-${{ github.run_number }}"

      # verify "add" operation
      - uses: ./git-push-services-patch
        with:
          patch: ${{ github.workspace }}/git-push-services-patch/tests/fixtures/kustomization.yaml
          operation: add
          overlay: e2e-git-push-services-patch
          namespace: ns-${{ github.run_number }}
          destination-repository: ${{ github.repository }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ns/monorepo-deploy-actions/e2e-git-push-services-patch/ns-${{ github.run_number }}
          path: e2e-test-fixture
      - run: find services
        working-directory: e2e-test-fixture
      - run: test -f services/a/generated.yaml
        working-directory: e2e-test-fixture
      - run: test -f services/a/kustomization.yaml
        working-directory: e2e-test-fixture

      # verify "delete" operation
      - uses: ./git-push-services-patch
        with:
          patch: ${{ github.workspace }}/git-push-services-patch/tests/fixtures/kustomization.yaml
          operation: delete
          overlay: e2e-git-push-services-patch
          namespace: ns-${{ github.run_number }}
          destination-repository: ${{ github.repository }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ns/monorepo-deploy-actions/e2e-git-push-services-patch/ns-${{ github.run_number }}
          path: e2e-test-fixture
      - run: find services
        working-directory: e2e-test-fixture
      - run: test -f services/a/generated.yaml
        working-directory: e2e-test-fixture
      - run: test ! -f services/a/kustomization.yaml
        working-directory: e2e-test-fixture

      - name: Clean up the fixture branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete "refs/heads/ns/monorepo-deploy-actions/e2e-git-push-services-patch/ns-${{ github.run_number }}"
