name: git-push-namespace

on:
  push:
    branches: [main]
    paths:
      - git-push-namespace/**
      - '*.json'
      - e2e-test/**
      - .github/workflows/git-push-namespace.yaml
  pull_request:
    branches: [main]
    paths:
      - git-push-namespace/**
      - '*.json'
      - e2e-test/**
      - .github/workflows/git-push-namespace.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: git-push-namespace
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }} # avoid "shallow update not allowed" error
          path: e2e-test-fixture
      - name: Set up a fixture of overlay branch
        working-directory: e2e-test-fixture
        run: git push origin "HEAD:refs/heads/e2e-git-push-namespace-${{ github.run_number }}"
      - name: Set up a fixture of namespace branch
        working-directory: e2e-test-fixture
        run: git push origin "HEAD:refs/heads/ns/monorepo-deploy-actions/e2e-git-push-namespace/ns-${{ github.run_number }}"

      - uses: ./git-push-namespace
        with:
          overlay: e2e-git-push-namespace
          namespace: ns-${{ github.run_number }}
          destination-repository: ${{ github.repository }}
          destination-branch: e2e-git-push-namespace-${{ github.run_number }}

      - uses: actions/checkout@v3
        with:
          ref: e2e-git-push-namespace-${{ github.run_number }}
          path: git-push-namespace/actual
      - run: find actual -type f
      - run: test -f actual/monorepo-deploy-actions/e2e-git-push-namespace/ns-${{ github.run_number }}.yaml

      - name: Clean up the overlay branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete "refs/heads/e2e-git-push-namespace-${{ github.run_number }}"
      - name: Clean up the namespace branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete "refs/heads/ns/monorepo-deploy-actions/e2e-git-push-namespace/ns-${{ github.run_number }}"
