name: git-push-service

on:
  pull_request:
    paths:
      - git-push-service/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/git-push-service.yaml
  push:
    branches:
      - main
    paths:
      - git-push-service/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/git-push-service.yaml

defaults:
  run:
    working-directory: git-push-service
  
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check
      - uses: int128/update-generated-files-action@21a93b7745379d3affb27cb6beb5f68d6cb8fd0d # v2.76.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./git-push-service
        with:
          manifests: |
            ${{ github.workspace }}/git-push-service/tests/fixtures/a/generated.yaml
          overlay: e2e-git-push-service
          namespace: ns-${{ github.run_number }}
          service: a
          destination-repository: ${{ github.repository }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ns/monorepo-deploy-actions/e2e-git-push-service/ns-${{ github.run_number }}
          path: git-push-service/actual
      - run: find actual -type f
      - run: yq . actual/applications/ns-${{ github.run_number }}--a.yaml
      - run: yq . actual/services/a/generated.yaml

      - name: clean up the branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete refs/heads/ns/monorepo-deploy-actions/e2e-git-push-service/ns-${{ github.run_number }}
