name: git-push-service

on:
  push:
    branches: [main]
    paths:
      - git-push-service/**
      - '*.json'
      - e2e-test/**
      - .github/workflows/git-push-service.yaml
  pull_request:
    branches: [main]
    paths:
      - git-push-service/**
      - '*.json'
      - e2e-test/**
      - .github/workflows/git-push-service.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: git-push-service
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package

      - uses: ./git-push-service
        with:
          manifests: |
            ${{ github.workspace }}/git-push-service/tests/fixtures/a/generated.yaml
          overlay: e2e-git-push-service
          namespace: ns-${{ github.run_number }}
          service: a
          destination-repository: ${{ github.repository }}
      - uses: ./git-push-service
        with:
          manifests: |
            ${{ github.workspace }}/git-push-service/tests/fixtures/b/generated.yaml
          overlay: e2e-git-push-service
          namespace: ns-${{ github.run_number }}
          namespace-level: true
          destination-repository: ${{ github.repository }}

      - uses: actions/checkout@v3
        with:
          ref: ns/monorepo-deploy-actions/e2e-git-push-service/ns-${{ github.run_number }}
          path: git-push-service/actual
      - run: find actual -type f

      - run: test -f actual/applications/ns-${{ github.run_number }}--a.yaml
      - run: test -f actual/services/a/generated.yaml

      - run: test -f actual/applications/generated.yaml
      - run: test ! -f actual/applications/ns-${{ github.run_number }}--b.yaml
      - run: test ! -f actual/services/b/generated.yaml

      - name: clean up the branch
        continue-on-error: true
        if: always()
        run: |
          git push origin --delete refs/heads/ns/monorepo-deploy-actions/e2e-git-push-service/ns-${{ github.run_number }}
