name: release

on:
  pull_request:
    paths:
      - .github/workflows/release.yaml
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: |
          find */package.json | xargs -n1 dirname | while read -r dir; do
            pushd "$dir"
            pnpm i
            pnpm run build
            popd
          done
      - uses: int128/release-typescript-action@a7b8921a6006618f7b35d55aebc7640d2171c09a # v1.42.0
