name: resolve-aws-secret-version

on:
  pull_request:
    paths:
      - resolve-aws-secret-version/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/resolve-aws-secret-version.yaml
  push:
    branches:
      - main
    paths:
      - resolve-aws-secret-version/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/resolve-aws-secret-version.yaml

defaults:
  run:
    working-directory: resolve-aws-secret-version

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check --fix
      - uses: int128/update-generated-files-action@3d23e5bef5a471517ce6a7d07c32e7cff7903e0d # v2.75.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./resolve-aws-secret-version
        id: resolve
        with:
          manifests: resolve-aws-secret-version/tests/fixtures/input-with-no-placeholder.yaml
      - run: git diff --exit-code
