name: resolve-aws-secret-version

on:
  pull_request:
    paths:
      - resolve-aws-secret-version/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/resolve-aws-secret-version.yaml
  push:
    branches:
      - main
    paths:
      - resolve-aws-secret-version/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/resolve-aws-secret-version.yaml

defaults:
  run:
    working-directory: resolve-aws-secret-version

jobs:
  autofix:
    uses: ./.github/workflows/autofix.yaml
    with:
      working-directory: resolve-aws-secret-version

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./resolve-aws-secret-version
        id: resolve
        with:
          manifests: resolve-aws-secret-version/tests/fixtures/input-with-no-placeholder.yaml
      - run: git diff --exit-code
