name: substitute

on:
  pull_request:
    paths:
      - substitute/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/substitute.yaml
  push:
    branches:
      - main
    paths:
      - substitute/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/substitute.yaml

defaults:
  run:
    working-directory: substitute

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check --fix
      - uses: int128/update-generated-files-action@f6dc44e35ce252932e9018f1c38d1e2a4ff80e14 # v2.60.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./substitute
        with:
          files: |
            ${{ github.workspace }}/substitute/tests/fixtures/a/generated.yaml
            ${{ github.workspace }}/substitute/tests/fixtures/b/generated.yaml
          variables: |
            DOCKER_IMAGE=123456789012.dkr.ecr.ap-northeast-1.amazonaws.com/deploy-actions/service:latest
            NAMESPACE=develop
      - run: git diff
