name: update-outdated-pull-request-branch

on:
  pull_request:
    paths:
      - update-outdated-pull-request-branch/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/update-outdated-pull-request-branch.yaml
  push:
    branches:
      - main
    paths:
      - update-outdated-pull-request-branch/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/update-outdated-pull-request-branch.yaml

defaults:
  run:
    working-directory: update-outdated-pull-request-branch

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm check
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build
      # update-outdated-pull-request-branch action supports only pull_request event
      - if: github.event_name == 'pull_request'
        uses: ./update-outdated-pull-request-branch
        with:
          expiration-days: 7
